<div class="container">
    <!-- download and upload buttons-->
<div class="row">
    <div style="float: left">
        <!-- choose an image to upload -->
    <div class="col-sm-12">
      <h2>ADA Practice Transitions - Profile Photo Editor</h2>
      <label class="btn btn-primary btn-upload" for="inputImage" title="Upload image file">
        <input type="file" name="photo" (change)="onFileSelected($event)" class="sr-only" id="inputImage" accept="image/*">
        <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Import image with Blob URLs">
Upload            </span>
      </label>
    </div>
  </div>
      <!-- download the edited image-->
  <div style="float: right; position: relative; right: 0;">
      <div class="col-sm-12">
        <br/>
        <br/>
        <label class="btn btn-primary btn-download" title="Upload image file" (click)="onDownloadClicked($event)">
            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="Export image with Blob URLs">
    Download            </span>
          </label>
      </div>
    </div>
  </div>
    <!-- showing the uploaded image -->
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <angular-cropper #angularCropper *ngIf="showCropper && imageUrl"
                       [cropperOptions]="cropperConfig"
                       [imageUrl]="imageUrl"
                       (zoom)="zoomManual()"
                       (ready)="readyImage($event)"
                       (cropend)="cropendImage($event)">
      </angular-cropper>
      <div *ngIf="!showCropper && imageUrl" class="container-preloader">
        <div class="dash uno"></div>
        <div class="dash dos"></div>
        <div class="dash tres"></div>
        <div class="dash cuatro"></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 crop-res">
      <img *ngIf="cropperRes || imageUrl" [src]="cropperRes || imageUrl">
      <div class="row" *ngIf="imageUrl" id="actions">
          <div class="col-sm-12">
            <div class="docs-buttons">
               <h3>Toolbar:</h3>
      
              <div class="btn-group">
                <button (click)="zoom('positive')" type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="angularCropper.cropper.zoom(0.1)">
                      Zoom In</span>
                </button>
                <button (click)="zoom('negative')" type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.zoom(-0.1)">
                        Zoom Out</span>
                </button>
              </div>
      
              <div class="btn-group">
                <button (click)="move(-10, 0)" type="button" class="btn btn-primary" data-method="move" data-option="-10" data-second-option="0" title="Move Left">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.move(-10, 0)">
                        Move Right              </span>
                </button>
                <button (click)="move(10, 0)" type="button" class="btn btn-primary" data-method="move" data-option="10" data-second-option="0" title="Move Right">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.move(10, 0)">
                        Move Left              </span>
                </button>
      
                <button (click)="move(0, -10)" type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="-10" title="Move Up">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.move(0, -10)">
                        Move Down</span>
                </button>
                <button (click)="move(0, 10)" type="button" class="btn btn-primary" data-method="move" data-option="0" data-second-option="10" title="Move Down">
                    <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.move(0, 10)">
                        Move Up</span>
                </button>
              </div>
      
              <div class="btn-group">
                <button (click)="rotate('left')" type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                  <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.rotate(-45)">
                      Rotate Left</span>
                </button>
                <button (click)="rotate('right')" type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                  <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.rotate(45)">
                      Rotate Right</span>
      
                </button>
              </div>
      
      
              <div class="btn-group">
                <button (click)="reset()" type="button" class="btn btn-primary" data-method="reset" title="Reset">
                  <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="cropper.reset()">
      Reset            </span>
      </button>
            </div><!-- /.docs-buttons -->
          </div>
        </div>
      </div></div>

      <!-- choose displays the final image  -->

</div>
